# archivo de variables de entorno
.env

# archivos de credenciales de google
credentials.json
token.json

# archivo de IDE
.idea/

# entorno virtual pyhton
.venv/

# Archivos del sistema operativo (opcional, pero buena practica)
.DS_Store
